{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="chatlist-container">
    {% for chat in chat_data %}
    <a href="{% url 'chat' chat.other_user.id %}" class="chat-item">
        <div class="chat-image">
            <!-- Placeholder for profile image -->
            <img src="{{ chat.other_user.profile.image.url }}" alt="Profile Picture">
        </div>
        <div class="chat-details">
            <div class="chat-info">
                <div class="chat-name">{{ chat.other_user.username }}</div>
                <div class="chat-time">{{ chat.last_message.timestamp|date:"h:i A" }}</div>
            </div>
            
        </div>
    </a>
    {% empty %}
    <p>You have no active chats.</p>
    {% endfor %}
</div>
{% endblock content %}
