{% extends "blog/base.html" %}
{% load static %}
{% block content %}

    {% for post in posts%}
<article class="media content-section">
        <img class="rounded-circle article-img"src="{{ post.author.profile.image.url}}">
  <div class="media-body">
    <div class="article-metadata">
    {% if post.author == request.user %}
        <a class="mr-2" href="{% url 'my_profile' %}">{{ post.author }}</a>
    {% else %}
        <a class="mr-2" href="{% url 'profile' post.author %}">{{ post.author }}</a>
    {% endif %}
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    <h5><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
    <p class="article-content">{{ post.content }}</p>
    {% if post.post_image %}
        <div class="post-image-container">
            <img src="{{ post.post_image.url }}" alt="Post image" class="post-image">
        </div>
    {% endif %}
    <div class="like1">
        <span class="like-btn" 
                data-post-id="{{ post.id }}">
            {% if user.is_authenticated and post.id in user_likes %}
                <i class="fa-heart fas"></i>
            {% else %}
                <i class="fa-heart far"></i>
            {% endif %}
        </span>
        <span id="like-count-{{ post.id }}">{{ post.like_set.count }}</span>
        <span class="com-btn"><a href="{% url 'post-detail' post.id %}"><i class="bi bi-chat"></i></a></span>
    </div>
</div>
  
</article>

    {% endfor %}
{% endblock content %}

{% block side %}
<div class="col-md-4 side-bar">
    <div class="content-section">
<h4>Notifications</h4>
    <ul class="profile-list">
        {% for notification in notifications %}
            <li class="notification-item">
                <div class="notification-content">
                    <img src="{{ notification.sender.profile.image.url }}" alt="{{ notification.sender.username }}'s profile picture" class="profile-picture">
                    <div class="notification-text">
                        {% if notification.notification_type == 'like' %}
                            <a href="{% url 'profile' notification.sender.username %}">{{ notification.sender.username }}</a> liked your post.
                        {% elif notification.notification_type == 'follow' %}
                            <a href="{% url 'profile' notification.sender.username %}">{{ notification.sender.username }}</a> followed you.
                        {% else %}
                            Unknown notification type.
                        {% endif %}
                    </div>
                </div>
                <div class="timestamp">{{ notification.timestamp }}</div>
            </li>
        {% empty %}
            <li class="notification-item">No new notifications.</li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}