{% extends "blog/base.html" %}
{% block content %}
    <h3 class="mb-3">{{ view.kwargs.username }}'s Posts </h3>
    {% for post in posts%}
       <article class="media content-section">
        <img class="rounded-circle article-img"src="{{ post.author.profile.image.url}}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    <h5><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
    <p class="article-content">{{ post.content }}</p>
    {% if post.post_image %}
        <div class="post-image-container">
            <img src="{{ post.post_image.url }}" alt="Post image" class="post-image">
        </div>
    {% endif %}
    <span class="like-btn" 
            data-post-id="{{ post.id }}">
        {% if user.is_authenticated and post.id in user_likes %}
            <i class="fa-heart fas"></i>
        {% else %}
            <i class="fa-heart far"></i>
        {% endif %}
  </span>
    <span id="like-count-{{ post.id }}">{{ post.like_set.count }}</span>
  </div>
</article>

    {% endfor %}
    
{% endblock content %}