body {
  background: #e8eaf0;
  color: #333333;
  margin-top: 4rem;
  
}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
ul {
  margin: 0;
}
.navbar {
  border-bottom: 1px solid #ccc;
  box-shadow: 2px 1px #d6d6d6;
}
.bg-steel {
  background-color:#ffffff;
}
.site-header .navbar-nav .nav-link {
  color: #000000;
}
.site-header .navbar-nav {
  align-items: center;
}
.site-header .navbar-nav a {
  padding-right: 10px;
}
.site-header .navbar-nav .nav-link:hover {
  color: #3b72c5;
}
.site-header .navbar-nav .nav-link:active {
  font-weight: 500;
  color: #fdfcfc;
  text-decoration: underline;
}


.btn-outline-info:hover {
  color: #fff;
  background-color: #00aced;
  border-color: #00aced;
}
.btn-outline-info {
  border-color: #00aced;
  border-radius: 25px;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 5px;
  margin: 10px 0;
  height: 35px;
  color: #00aced;
  background-color: transparent;
  background-image: none;
}

.content-section .btn-outline-info {
  width: 80%;
}
.content-section {
  background: white;
  padding: 10px 20px;
  border: 1px solid #ccc ;
  border-radius: 3px;
  margin-bottom: 5px;
  box-shadow:2px 2px #d6d6d6;
  
  
}
/**.content-section .google-button, .content-section .btn-outline-info {
  justify-content: center;
  text-align: center;
}**/
.content-section .or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
.content-section .or-divider::before,
.content-section .or-divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}
.content-section .or-divider:not(:empty)::after {
  margin-left: .25em;
}

.google-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  width: 80%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}
.google-button img {
  margin-right: 10px;
}
.google-button:hover {
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article-title {
  color: #02010f;
  font-family: Arial, Helvetica, sans-serif;
}
a.article-title:hover {
  color:  #00aced;
  text-decoration: none;
}
.article-content {
  white-space: pre-line;
  font-family: Helvetica Neue;
}
#logo {
  font-family: Time News Roman;
}
.article-img {
  height: 50px;
  width: 50px;
  margin-right: 16px;
}
.mr-2 {
  color: #000000;
  font-family: 'Playfair Display', serif;
}
.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}
.rounded-circle {
  border: 1px solid black;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.account-img {
  height: 85px;
  width: 85px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.account-heading {
  font-size: 2.5rem;
}
.nav-item nav-link:active {
  border-bottom: 2px solid black;
  color: #ffffff;
}


.like-section {
  display: flex;
  align-items: center;
}

#like-button {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: color 0.3s ease;
}

#like-button.far {
  color: #ccc;
}

#like-button.fas {
  color: #e0245e;
}

#like-count {
  font-size: 1.2rem;
}

.dropdown {
  position: relative;
  display: block;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -70px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}
.dropdown-content a{
  color: #00aced;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown-content button:hover {
  background-color: #f1f1f1;
}
.dropdown-content button {
  border: none;
  padding: 12px 16px;
  background: none;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown img {
  border-radius: 50%;
  cursor: pointer;
}
.dropdown-content a i {
  margin-right: 10px;
}

