<h2>Notifications</h2>
<ul>
    {% for notification in notifications %}
        <li>
            {% if notification.notification_type == 'like' %}
                {{ notification.sender.username }} liked your post.
            {% elif notification.notification_type == 'follow' %}
                {{ notification.sender.username }} followed you.
            {% endif %}
            <span>{{ notification.timestamp }}</span>
        </li>
    {% empty %}
        <li>No new notifications.</li>
    {% endfor %}
</ul>